[user]
    name = Lucas de Cicco
    email = Lucas.DeCicco@Worldpay.com
    signingkey = 5ECDB192DF73A6376BACA8FCDA5E188E8CC4A985

[fetch]
    prune = true

[core]
    pager = delta
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes

[color]
    ui = always

[diff]
    noprefix = true
    colorMoved = default

[pull]
    ff = only

[push]
    autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[init]
    defaultBranch = main

[delta]
    navigate = true
    dark = true
    line-numbers = true
    hyperlinks = true

[merge]
    conflictstyle = zdiff3

[commit]
    gpgsign = true

[alias]
    aa = add -A
    co = checkout
    br = branch
    ci = commit
    cim = commit -am
    st = status
    # diff
    di = diff
    dis = diff --staged
    diw = diff --word-diff
    disw = diff --staged --word-diff
    # side-by-side (delta)
    dif = -c delta.side-by-side=true diff
    difs = -c delta.side-by-side=true diff --staged
    # no color (for piping)
    din = -c core.pager=cat diff --color=never
    dins = -c core.pager=cat diff --staged --color=never
    # other
    fe = fetch --all
    rom = rebase -i origin/master
    # log/tree
    lo = log --oneline
    loa = log --oneline --all
    tree = log --graph --oneline --all --decorate
    treea = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    # amend
    ca = commit --amend
    can = commit --amend --no-edit
    caan = commit --amend --reset-author --no-edit
    cadn = commit --amend --date=now --no-edit
    caadn = commit --amend --reset-author --date=now --no-edit
